.git
.github
.gitignore
.vscode
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
venv/
env/
ENV/
logs/
*.log
app.yaml
.dockerignore
README.md
